DATABASE_URL=postgresql://user:password@host:6543/postgres
DEFAULT_CONTACT_EMAIL=ndemofrank@wallacecroft.com
LEAD_NOTIFICATION_EMAIL=sales@wallacecroft.com,alvisnjenga@wallacecroft.com,ndemofrank@wallacecroft.com
EMAIL_FROM=Wallace Croft <ndemofrank@wallacecroft.com>
BREVO_API_KEY=
