DATABASE_URL=postgresql://user:password@host:6543/postgres
DEFAULT_CONTACT_EMAIL=hello@wallacecroft.com
LEAD_NOTIFICATION_EMAIL=hello@wallacecroft.com,info@wallacecroft.com,info@wallacecroft.com,info@wallacecroft.com
EMAIL_FROM=Wallace Croft <hello@wallacecroft.com>
BREVO_API_KEY=
